*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #201e35;
}

main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu{
    display: block;
    width: 50px;
    height: 50px;
    position: absolute;
    cursor: pointer;
    z-index: 1;
    opacity: 0;
}

.container div{
    width: 50px;
    height: 7px;
    margin-bottom: 10px;
    background: #fff;
    cursor: pointer;
    transition: all .5s;
}

#menu:checked ~ .bar1{
    transform: translate(0, 20px) rotate(45deg);
}

#menu:checked ~ .bar2{
    width: 30px;
    transform: translate(15px, -4px) rotate(-45deg);
}

#menu:checked ~ .bar3{
    width: 20px;
    transform: translate(3px, -4px) rotate(-45deg);
}
